body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
.projects a {
  margin-right: 0.75vw;
  font-size: 1.75rem;
}

.projects .fa:hover {
  color: color: rgb(200,30,30);
  transition: 0.3s ease;
  font-size: 2rem;

}

.contacts .fa {
  font-size: 2rem;
  color: rgb(200,30,30);
  margin-top: 1rem;
  padding: 1rem;
}
.contacts a:hover {
  transition: 0.3s ease;
  font-size: 2.5rem;
  text-decoration: none;
}
.contacts {
  display: inline-flex;
  justify-content: center;
  background-color: #1d1d1d;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 15vh;
}
.projects {
  display: inline-flex;
}
.half{
  width: 40%;
  margin-left: 10vw;
  margin-top: 10vh;
}
.card-columns{
  width: 60vw;
  margin-right: 5vw;
  padding-bottom: 10vh;
}
.badge-dark {
  font-size: 0.95rem;
}
.card, .card-image{
  font-size: 1rem;
  position: inherit;
}

#typewriter {
  border-right: .05em solid red;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.name {
	font-family: 'Anaheim';
}

.rails{
	font-family: 'Bungee Hairline';
	background-color: red;
	color: white;
  width: fit-content;
}

.header {
	padding-top: 10vh;
	background-image: url("./assets/imgs/bg-03.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: 'Anaheim';
}

#navbar {
  width: 100vw;
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: 'Anaheim'
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
}

.sticky + .projects {

  margin-top: 10vh;
}

.projects {
  padding-top: 10vh;
  background-image: url("./assets/imgs/bg-05.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: fit-content;
}
@media only screen and (max-width:720px) {
  /* For mobile phones: */
  .projects{
    padding:1rem;
    padding-top: 3rem;
    display: list-item;
    align-content: center;
  }
  .card {
    padding-top: 1rem;
  }
  .projects .fa {
    font-size: 2.3rem;
  }
  .projects .rails {
    display: none
  }
  .half{
    margin: 0;
  }
  .card-columns {
    width: auto;
    column-count: 1;
  }
}
